:b('IndexPage')
	.cells-wrap.clearfix
		:b('Posts')

			:b('Text')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text.post-preview_type_green
						a.post-preview__link(href="{Permalink}")
							:b('Title')
								.post-preview__title
									| {Title}
								:b('HasTags')
									ul.post__tags.i-tags.unstyled.clearfix
										:b('Tags')
											li.post-preview__tag.i-tags__tag
												| {Tag}

			:b('Photo')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_img
						a.post-preview__link(href="{Permalink}")
							img.post-preview__img(alt="", src="{PhotoURL-400}")
							:b('Caption')
								.post-preview__title
									| {Caption}
							:b('HasTags')
									ul.post__tags.i-tags.unstyled.clearfix
										:b('Tags')
											li.post-preview__tag.i-tags__tag
												| {Tag}

			:b('Panorama')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_img
						a.post-preview__link(href="{Permalink}")
							:b('LinkOpenTag')
								img(src="{PhotoURL-Panorama}", alt="{PhotoAlt}")
							:b('Caption')
								.post-preview__title
									| {Caption}
							:b('HasTags')
									ul.post__tags.i-tags.unstyled.clearfix
										:b('Tags')
											li.post-preview__tag.i-tags__tag
												| {Tag}

			:b('Photoset')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_img
						a.post-preview__link(href="{Permalink}")
							:b('Photos')
								img.photoset-images.post-preview__img(alt="", src="{PhotoURL-400}")
							:b('Caption')
								.post-preview__title
									| {Caption}
							:b('HasTags')
									ul.post__tags.i-tags.unstyled.clearfix
										:b('Tags')
											li.post-preview__tag.i-tags__tag
												| {Tag}

			:b('Quote')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text.post-preview_type_green
						a.post-preview__link(href="{Permalink}")
							.post-preview__desc
								| {Quote}
							:b('HasTags')
									ul.post__tags.i-tags.unstyled.clearfix
										:b('Tags')
											li.post-preview__tag.i-tags__tag
												| {Tag}

			:b('Link')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text.post-preview_type_green
						a.post-preview__link(href="{URL}")
							.post-preview__title
								| {Name}
							:b('Description')
								.post-preview__desc
									| {Description}
							:b('HasTags')
									ul.post__tags.i-tags.unstyled.clearfix
										:b('Tags')
											li.post-preview__tag.i-tags__tag
												| {Tag}

			:b('Chat')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text.post-preview_type_green
						a.post-preview__link(href="{Permalink}")
							:b('Title')
								.post-preview__title
									| {Title}
							:b('HasTags')
									ul.post__tags.i-tags.unstyled.clearfix
										:b('Tags')
											li.post-preview__tag.i-tags__tag
												| {Tag}

			:b('Audio')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text.post-preview_type_green
						a.post-preview__link(href="{Permalink}")
							:b('Caption')
								.post-preview__title
									| {Caption}
									| {AudioPlayerWhite}
							:b('HasTags')
									ul.post__tags.i-tags.unstyled.clearfix
										:b('Tags')
											li.post-preview__tag.i-tags__tag
												| {Tag}

			:b('Video')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text
						| {Video-400}
						:b('Caption')
							a.post-preview__link(href="{Permalink}")
								.post-preview__title
									| {Caption}
						:b('HasTags')
								ul.post__tags.i-tags.unstyled.clearfix
									:b('Tags')
										li.post-preview__tag.i-tags__tag
											| {Tag}

			:b('Answer')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text
						a.post-preview__link(href="{Permalink}")
							.post-preview__desc
								| {Question}
							:b('HasTags')
									ul.post__tags.i-tags.unstyled.clearfix
										:b('Tags')
											li.post-preview__tag.i-tags__tag
												| {Tag}