.wrap
	include layout_header
	:b('IndexPage')
		.cells-wrap.clearfix
			:b('Posts')

				:b('Photo')
					.cell(id="post{PostID}", class=post_class)
						.post-preview.post-preview_type_img
							a.post-preview__link(href="{Permalink}")
								img.post-preview__img(alt="", src="{PhotoURL-400}")
								:b('Caption')
									.post-preview__title
										| {Caption}

				:b('Text')
					.cell(id="post{PostID}", class=post_class)
						.post-preview.post-preview_type_text.post-preview_type_green
							if tumblr_markup
								a.post-preview__link(href="{Permalink}")
									:b('Title')
										.post-preview__title
											| {Title}

				:b('Photoset')
					.cell(id="post{PostID}", class=post_class)
						.post-preview.post-preview_type_img
							a.post-preview__link(href="{Permalink}")
								:b('Photos')
									img.photoset-images.post-preview__img(alt="", src="{PhotoURL-400}")
								:b('Caption')
									.post-preview__title
										| {Caption} 

				:b('Quote')
					.cell(id="post{PostID}", class=post_class)
						.post-preview.post-preview_type_text.post-preview_type_green
							a.post-preview__link(href="{Permalink}")
								.post-preview__desc
									| {Quote}

				:b('Link')
					.cell(id="post{PostID}", class=post_class)
						.post-preview.post-preview_type_text.post-preview_type_green
							a.post-preview__link(href="{URL}")
								.post-preview__title
									| {Name}
								:b('Description')
									.post-preview__desc
										| {Description}

				:b('Chat')
					.cell(id="post{PostID}", class=post_class)
						.post-preview.post-preview_type_text.post-preview_type_green
							a.post-preview__link(href="{Permalink}")
								:b('Title')
									.post-preview__title
										| {Title}
								.post-preview__desc

				:b('Audio')
					.cell(id="post{PostID}", class=post_class)
						.post-preview.post-preview_type_text.post-preview_type_green
							a.post-preview__link(href="{Permalink}")
								:b('Caption')
									.post-preview__title
										| {Caption}
									| {AudioPlayerWhite}