+block('IndexPage')
	.cells-wrap.clearfix.is-hidden.i-smoothness
		
		+block('Posts')

			+block('Text')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text.post-preview_type_green
						a.post-preview__link(href="{Permalink}")
							+block('Title')
								.post-preview__title: {Title}

			+block('Photo')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_img
						a.post-preview__link(href="{Permalink}")
							img.post-preview__img(alt="", src="{PhotoURL-400}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")
							+block('Caption')
								.post-preview__title: {Caption}

			+block('Panorama')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_img
						a.post-preview__link(href="{Permalink}")
							+block('LinkOpenTag')
								img(src="{PhotoURL-Panorama}", alt="{PhotoAlt}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")
							+block('Caption')
								.post-preview__title: {Caption}

			+block('Photoset')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_img
						a.post-preview__link(href="{Permalink}")
							+block('Photos')
								script.
									pasteFirstImg("{PostId}", "{PhotoURL-400}", "{PhotoWidth-400}", "{PhotoHeight-400}");
							+block('Caption')
								.post-preview__title: {Caption}

			+block('Quote')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text.post-preview_type_green
						a.post-preview__link(href="{Permalink}")
							.post-preview__desc
								| {Quote}

			+block('Link')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text.post-preview_type_green
						a.post-preview__link(href="{URL}")
							.post-preview__title: {Name}
							+block('Description')
								.post-preview__desc
									| {Description}

			+block('Chat')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text.post-preview_type_green
						a.post-preview__link(href="{Permalink}")
							+block('Title')
								.post-preview__title: {Title}

			+block('Audio')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text
						div.post-preview__link
							+block('AudioEmbed')
								| {AudioEmbed-400}

			+block('Video')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text
						a.post-preview__link(href="{Permalink}")
							| {VideoEmbed-400}
							+block('Caption')
								.post-preview__title: {Caption}

			+block('Answer')
				.cell(id="post{PostID}", class=post_class)
					.post-preview.post-preview_type_text
						a.post-preview__link(href="{Permalink}")
							.post-preview__desc
								| {Question}
