+block('PermalinkPage')

	.content-wrap.content-wrap_type_page.clearfix




		+block('Posts')

			+block('Text')
				.post.post_type_text.clearfix(id="post{PostID}", class=post_class)
					.post__content-wrap
						include helpers/blocks/Date
						+block('Title')
							.post__title: {PlaintextTitle}
						.post__desc
							| {Body}
						include helpers/blocks/Tags

			+block('Photo')
				.post.post_type_photo.clearfix(id="post{PostID}", class=post_class)
					.post__content-wrap
						include helpers/blocks/Date
						.post__title
						.post__desc
						+block('Caption')
							.hidden(content="photo_caption"): {Caption}
						include helpers/blocks/Tags
					.post__images-wrap.is-hidden
						+block('HighRes')
							img.post__image.post__image_type_highres(alt="", src="{PhotoURL-HighRes}", width="{PhotoWidth-HighRes}", height="{PhotoHeight-HighRes}")
						img.post__image.post__image_type_normal(alt="", src="{PhotoURL-500}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")

			+block('Photoset')
				.post.post_type_photoset.clearfix(id="post{PostID}", class=post_class)
					.post__content-wrap
						include helpers/blocks/Date
						.post__title
						.post__desc
						+block('Caption')
							.hidden(content="photo_caption"): {Caption}
						include helpers/blocks/Tags
					.post__images-wrap
						+block('Photos')
							img.post__image(alt="", src="{PhotoURL-500}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")

			+block('Panorama')
				.post.post_type_panorama.clearfix(id="post{PostID}", class=post_class)
					.post__content-wrap
						include helpers/blocks/Date
						.post__title
						.post__desc
						+block('Caption')
							.hidden(content="photo_caption"): {Caption}
						include helpers/blocks/Tags
					+block('LinkOpenTag')
						.post__images-wrap
							img.post__image(src="{PhotoURL-Panorama}", alt="{PhotoAlt}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")


			+block('Quote')
				.post.post_type_quote.clearfix(id="post{PostID}", class=post_class)
					.post__content-wrap
						include helpers/blocks/Date
						.post__desc
							| {PlaintextQuote}
						include helpers/blocks/Tags

			+block('Link')
				.post.post_type_link.clearfix(id="post{PostID}", class=post_class)
					.post__content-wrap
						include helpers/blocks/Date
						.post__title
							| {PlaintextName}
						+block('Description')
							.post__desc
								| {PlaintextDescription}
						include helpers/blocks/Tags

			+block('Chat')
				.post.post_type_chat.clearfix(id="post{PostID}", class=post_class)
					.post__content-wrap
						include helpers/blocks/Date
						+block('Title')
							.post_title: {PlaintextTitle}
						include helpers/blocks/Tags
					.post__images-wrap
						ul.unstyled
							+block('Lines')
								li.unstyle
									+block('Label')
										b: {PlaintextLabel} 
									| {PlaintextLine}

			+block('Audio')
				.post.post_type_audio.clearfix(id="post{PostID}", class=post_class)
					.post__content-wrap
						include helpers/blocks/Date
						+block('Caption')
							.post__title: {PlaintextCaption}
						include helpers/blocks/Tags
					+block('AudioEmbed')
						.post__images-wrap
							| {AudioEmbed-400}

			+block('Video')
				.post.post_type_video.clearfix(id="post{PostID}", class=post_class)
					.post__content-wrap
						include helpers/blocks/Date
						+block('Caption')
							.post__title: {PlaintextCaption}
						include helpers/blocks/Tags
					.post__images-wrap
						| {VideoEmbed-400}

			+block('Answer')
				.post.post_type_answer.clearfix(id="post{PostID}", class=post_class)
					.post__content-wrap
						include helpers/blocks/Date
						.post__desc
							| {Question}
						include helpers/blocks/Tags
					.post__images-wrap
						b: {Question}
						hr
						| {Answer}
	
	//-
		.content-wrap.content-wrap_type_index.clearfix
			.heading_last_posts
				| {lang:See more}

	.content-wrap.content-wrap_type_page
		include helpers/blocks/pagination
