+block('IndexPage')
	.content-wrap.content-wrap_type_index.clearfix.hidden.i-smoothness		
		+block('Posts')

			+block('Text')
				//- текстовая рамка
				a.post-preview.post_type_text.preview-post_visual-state_text(id="post{PostID}", class=post_class, href="{Permalink}")
					+block('Title')
						.post-preview__title: {PlaintextTitle}
					.hidden(content="helper-title")						
						| {PlaintextBody}



			+block('Photo')
				//- наложение
				a.post-preview.post_type_photo.preview-post_visual-state_overlay(id="post{PostID}", class=post_class, href="{Permalink}")
					img.post-preview__img(alt="", src="{PhotoURL-400}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")
					+block('Caption')
						.post-preview__title: {PlaintextCaption}

			+block('Photoset')
				//- наложение
				a.post-preview.post_type_photoset.preview-post_visual-state_overlay(id="post{PostID}", class=post_class, href="{Permalink}")
					+block('Photos')
						img.post-preview__img(src="{PhotoURL-400}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")
					+block('Caption')
						.post-preview__title: {PlaintextCaption}

			+block('Panorama')
				//- наложение
				a.post-preview.post_type_panorama.preview-post_visual-state_overlay(id="post{PostID}", class=post_class, href="{Permalink}")
					+block('LinkOpenTag')
						img(src="{PhotoURL-Panorama}", alt="{PhotoAlt}", width="{PhotoWidth-400}", height="{PhotoHeight-400}")
					+block('Caption')
						.post-preview__title: {PlaintextCaption}


			+block('Quote')
				//- текстовая рамка
				a.post-preview.post_type_quote.preview-post_visual-state_text(id="post{PostID}", class=post_class, href="{Permalink}")
					.post-preview__desc
						| {PlaintextQuote}

			+block('Link')
				//- текстовая рамка
				a.post-preview.post_type_link.preview-post_visual-state_text(id="post{PostID}", class=post_class, href="{URL}")
					.post-preview__title: {PlaintextName}
					+block('Description')
						.post-preview__desc
							| {PlaintextDescription}

			+block('Chat')
				//- текстовая рамка
				a.post-preview.post_type_chat.preview-post_visual-state_text(id="post{PostID}", class=post_class, href="{Permalink}")
					+block('Title')
						.post-preview__title: {PlaintextTitle}
					.hidden(content="helper-title")
						ul.unstyled
							+block('Lines')
								li.unstyle
									+block('Label')
										b: {PlaintextLabel} 
									| {PlaintextLine}

			+block('Audio')
				//- ифрейм
				div.post-preview.post_type_audio.preview-post_visual-state_iframe(id="post{PostID}", class=post_class)
					+block('AudioEmbed')
						| {AudioEmbed-400}

			+block('Video')
				//- ифрейм
				a.post-preview.post_type_video.preview-post_visual-state_iframe(id="post{PostID}", class=post_class, href="{Permalink}")
					| {VideoEmbed-400}
					+block('Caption')
						.post-preview__title: {PlaintextCaption}

			+block('Answer')
				//- текстовая рамка
				a.post-preview.post_type_answer.preview-post_visual-state_text(id="post{PostID}", class=post_class, href="{Permalink}")
					.post-preview__desc
						| {PlaintextQuestion}
	.content-wrap
			include helpers/blocks/pagination
