mixin block(type)
	| {block:#{type}}
	block
	| {/block:#{type}}


mixin langs(langs)
	each lang in langs
		+block(lang.title)
			| #{lang.code}



//- mixin block(type)
//- 	| 
//- 	| {block:#{type}}
//- 	| 
//- 	block
//- 	| 
//- 	| {/block:#{type}}
//- 	| 